/*----------------------------- ELEMENTAL STYLING -----------------------------*/
body{
  margin: 0;
  padding: 0;
  font-family: 'Nanum Gothic', sans-serif;
  position: relative;
}


a{
  text-decoration: none;
  color: #eee;
}

a:hover {
  color: #ff9c91;
}

ul {
  padding-left: 0;
}

li {
  margin-right: 5vw;
  font-size: calc(10px + 0.5vw);
}

/*----------------------------- HEADER STYLING -----------------------------*/

.flex-row{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-height: 7.5vh;
  align-items: center;
  justify-content: space-between;
}

.flex-row ul, li {
  list-style: none;
  display: inline;
  align-content: center;
}

.flex-row h1 {
  display: inline;
  font-size: calc(15px + 0.5vw);
}

.flex-row h1 {
  margin-left: 5vw;
  color: #eee;
}

.header{
  background-color: #393e46;
  height: 15vh;
  font-weight: bold;
}

.menu-bar{
   border: 2.5px solid #eee; 
   margin-right: 5vw;
   padding: 0.04vh 1vw;
   border-radius: 10px;
   background-color: transparent;
   height: 4.5vh;
}

.line {
  width: 5.25vw;
  height: 0.35vh;
  background-color: #eee;
  margin: 6px 0;
  border-radius: 90px;
}

.menu-dropdown{
  background-color: #dadddf;
  position: absolute;
  width: 100vw;
  z-index: 100;
}

.menu-dropdown ul {
  margin-top: 0;
  padding-top:0;
}

.menu-dropdown ul li {
  font-size: calc(14px + 0.5vw);
  display: block;
  text-align: center;
  padding: 2.25vh 0 1.75vh;
}

.menu-dropdown ul li a{
  color:#393e46;
}

.menu-dropdown ul li a:hover {
  color: #ff9c91;
  font-weight: 600;
}


/*----------------------------- LANDING PAGE -----------------------------*/
.landing-container{
  position: fixed;
  right:0;
  background-color: #2d3561;
  width: 100vw;
  height: 92.5vh;
  padding:0;
  margin:0;
}

.landing-font{
  color: #eee;
  text-align: center;
  margin: 27.5vh 10vw;
}